@import url(https://db.onlinewebfonts.com/c/51ba22ae06790efd464bde752a2cd9d1?family=Flexo-Regular);
@import url(https://db.onlinewebfonts.com/c/d2d21cf0ee4c1d969d8a4dccc587ab26?family=Flexo-Medium);
@import url(https://db.onlinewebfonts.com/c/6e1ef15c406d6f6aca64916d713fae18?family=Flexo-Bold);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background: #424242 url(./img/body_bg.png);
    font-size: 1.6rem;
    height: 100%;
    line-height: 1;
}

         /* Utility Classes */

.poki-container{
    max-width: 900px;
    width: 100%;
    margin: auto;
}

.bg-light{
    background-color: #f5f5f5;
}

.bg-white{
    background-color: #fff;
}

.bg-dark{
    background-color: #1f1f1f;
}

.bg-grey{
    background-color: #919191;
}

.bg-light-grey{
    background-color: #313131;
}

.bg-dark-grey{
    background-color: #282828;
}

.bg-dark-orange{
    background-color: #e3350d;
}

.bg-light-orange{
    background-color: #ee6b2f;
}

.bg-yellow{
    background-color: #e6bc2f;
}

.bg-green{
    background-color: #4dad5b;
}

.bg-light-blue{
    background-color: #30a7d7;
}

.bg-dark-blue{
    background-color: #1b53ba;
}

.bg-purple{
    background-color: #b38aea;
}

.bg-brown{
    background-color: #c7aa79;
}

.bg-pink{
    background-color: #ff90c4;
}

.flexo-regular{
    font-family: "Flexo-Regular", Arial, sans-serif;
}

.flexo-medium{
    font-family: "Flexo-Medium", Arial, sans-serif;
}

.flexo-bold{
    font-family:  "Flexo-Bold", Arial, sans-serif;
}

.roboto{
    font-family: 'Roboto', Arial, sans-serif;;
}

.txt-light{
    color: #fff;
}

.txt-dark{
    color: #212121;
}

.txt-blue{
    color: #162661;
}

.txt-purple{
    color: #4b1aa6;
}

.txt-brown{
    color: #965722;
}

.txt-orange{
    color: #8f1c06;
}

.txt-pink{
    color: #cf005b;
}

.txt-grey-1{
    color: #898989ff;
}

.txt-grey-2{
    color: #cccca7;
}

a{
    text-decoration: none;
    color: inherit;
}

        /* upper nav  */

.my-nav-upper{
    height: 64px;
    width: 100%;
    border-bottom: 2px solid #dedede;
}

.my-nav-upper .my-items{
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 6px;
    
}

.my-items .item-1,
.my-items .item-2,
.my-items .item-3{
    margin-right: 0.3em;
}

.my-items .item-1{
    background-color: #ffffff;
    height: 64px;
    width: 100px;
    padding-top: 0.5em;
    padding-left: 0.6em;
    box-shadow: 0 0 7px 1px #666666;

}

.my-items .item-3{
    border-left: 2px solid #dedede;
    border-right: 2px solid #dedede;
    padding: 0 0.6em;
    height: 64px;
    padding-top: 0.5em;
}

        /* bottom nav  */

.my-nav-bottom{
    height:100px;
    padding-top: 0.3em;
}

.bottom-items{
    height: 100%;
}

.my-bottom-items{
    margin-left: 1.1em;
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.my-bottom-items li{
    height: 100%;
    width: 100%;
    padding-top: 1em;
    padding-left: 0.5em;
}

.my-bottom-items li i{
    padding-left: 1.3em;
}

.my-bottom-items li p{
    font-size: 1.4rem;
    padding-top: 0.5em;
    text-align: center;
}

.my-bottom-items li a{
    text-decoration: none;
    color: #898989;
}

.my-bottom-items .item-1{
    border-bottom: 7px solid #898989;
    border-radius: 0 0 0 7px;
}

.my-bottom-items .item-1 a{
    color: #fff;
}

.my-bottom-items .item-2{
    border-bottom: 7px solid #e3350d;
}

.my-bottom-items .item-3{
    border-bottom: 7px solid #ee6b2f;
}

.my-bottom-items .item-4{
    border-bottom: 7px solid #e6bc2f;
}

.my-bottom-items .item-5{
    border-bottom: 7px solid #4dad5b;
}

.my-bottom-items .item-6{
    border-bottom: 7px solid #30a7d7;
}

.my-bottom-items .item-7{
    border-bottom: 7px solid #1b53ba;
    border-radius: 0 0 7px 0;
}

.my-bottom-items .item-2:hover,
.my-bottom-items .item-2:hover a{
    background-color: #e3350d;
    color: #fff;
}

.my-bottom-items .item-3:hover,
.my-bottom-items .item-3:hover a{
    background-color: #ee6b2f;
    color: #fff;
}

.my-bottom-items .item-4:hover,
.my-bottom-items .item-4:hover a{
    background-color: #e6bc2f;
    color: #fff;
}

.my-bottom-items .item-5:hover,
.my-bottom-items .item-5:hover a{
    background-color: #4dad5b;
    color: #fff;
}

.my-bottom-items .item-6:hover,
.my-bottom-items .item-6:hover a{
    background-color: #30a7d7;
    color: #fff;
}

.my-bottom-items .item-7:hover,
.my-bottom-items .item-7:hover a{
    background-color: #1b53ba;
    color: #fff;
}

        /* landing section */
        /* user menu */
.landing-page-sec{
    border-top: 2px solid #f0f0f0;
}

.landing-container{
    background: #fff url(./img/container_bg.png);
    display: block;
    margin: 0 auto;
    max-width: 1280px;
    height: 400vh;
    overflow: hidden;
    position: relative;
}

.user-menu{
    position: fixed;
    z-index: 99;
    width: 59px;
    height: 160px;
    top: 185px;
}

.menu-1{
    background-image: linear-gradient(to top, #54b564 85%, rgba(0,0,0,0) 20%);
    height: 110px;
    border-right: 2px solid black;
    border-radius: 0 20px 0 0;
}

.menu-1 img:last-of-type{
    width: 65%;
    margin-top: 0.5em;
    margin-left: 0.5em;
}

.menu-1 p{
    font-size: 1.2rem;
    margin-left: 0.8em;
}

.menu-2{
    background: url(./img/profile-nav-search-bg.png);
    height: 100%;
    background-repeat: no-repeat;
}

.menu-2 i{
    margin-top: 20%;
    margin-left: 20%;
}

        /* poki content */

.poki-content{
    background-color: #fff;
    height: 870px;
    display: grid;
    grid-template-columns: 280px 280px 280px;
    grid-template-rows: 280px 190px 135px 150px;
    gap: 15px;
    padding-top: 45px;
    padding-left: 13px;
}

.poki-content .content-1{
    grid-area: 1 / 1 / span 2 / span 2;
}

.poki-content .content-2{
    grid-area: 1 / 3 / span 1 / span 1;
}

.poki-content .content-3{
    grid-area: 2 / 3 / span 2 / span 1;
}

.poki-content .content-4{
    grid-area: 3 / 1 / span 2 / span 1;
}

.poki-content .content-5{
    grid-area: 3 / 2 / span 2 / span 1;
}

.poki-content .content-6{
    grid-area: 3 / 3 / span 1 / span 1;
    display: grid;
    grid-template-columns: 115px 165px;
    margin-top: 145px;
    height: 150px;
}

.poki-content .content-6 img{
    grid-column: 1 / span 1;
    border-radius: 7px 0 0 7px;
}

.poki-content .content-6 h1{
    grid-column: 2 / span 1;
    border-radius: 0 7px 7px 0;
    background-color: #ee6b2f;
}

.landing-content img{
    width: 100%;
    border-radius: 7px 7px 0 0;
}

.landing-content{
    border-radius: 7px;
}

.landing-content h1{
    font-size: 2.2rem;
    font-weight: 300;
}

.landing-content p,
.landing-content h1{
    padding-left: 1em;
    padding-top: 0.8em;
    text-align: start;
    line-height: normal;
}

        /* slider section */

.slider-section{
    height: 460px;
    margin-top: 3em;
    position: relative;
}

.featured-pokemon{
    width: 20%;
    height: 48px;
    background-color: #232323;
    color: #919191;
    border-radius: 4px 4px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 11em;
}

.featured-pokemon h1{
    font-size: 2rem;
    font-weight: 300;
}

.slider-features{
    display: grid;
    grid-template-columns: 210px 250px 360px 250px 210px;
    height: 100%;
}

.slider-features .slider-content{
    border-top: 3px solid #232323;
    height: 90%;
}

.slider-features img{
    width: 100%;
}

.slider-img-content{
    background-color: #616161;
    position: relative;
    color: #525252;
    font-size: 8rem;
    font-family: 'Flexo-Regular';
    height: 60%;
}

.slider-content:not(:first-child) .slider-img-content,
.slider-content:not(:first-child) .slider-text{
    border-left: 3px solid #232323;
}

.slider-text{
    height: 30%;
    background-color: #313131;
    font-size: 2.5rem;
    padding: 1.5em 1em;
}

.slider-img-content h1{
    position: absolute;
    top: 30px;
    left: 18%;
}

.slider-img-content img{
    opacity: 0.45;
    z-index: 2;
}

.slider-content:nth-child(3) img{
    position: absolute;
    bottom: 0;
    opacity: 0.7;
}

.slider-content:nth-child(3) .slider-text{
    height: 40%;
    background-color: #232323;
    border-radius: 0 0 5px 5px;
}

.slider-content:nth-child(3) .slider-text h1 span{
    margin-left: 6.5em;
}

.slider-content:nth-child(3) .slider-text p{
    font-size: 1.6rem;
    padding-top: 1em;
}

.slider-content:nth-child(3) .slider-text p span:first-child{
    margin-left: 4em;
}

.slider-content:nth-child(3) .slider-text p:first-of-type span:first-child{
    background-color: #f16e57;
    padding: 0.2em;
    border-radius: 4px;
}

.slider-content:nth-child(3) .slider-text p:first-of-type span:last-child{
    padding: 0.2em 0.8em;
    background-color: #51c4e7;
    border-radius: 4px;
}

        /* btn in slider section  */

.slider-btn{
    position: absolute;
    z-index: 10;
    opacity: 0;
}

.btn-1{
    left: 70px;
    bottom: 168px;
}

.btn-2{
    right: 70px;
    bottom: 168px;
}

.slider-section:hover .slider-btn{
    opacity: 0.4;
}

.slider-section .slider-btn:hover{
    opacity: 0.8;
}

        /* explore pokemon */

.explore-pokemon{
    width: 18%;
    font-weight: 100;
    height: 40px;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-left: 47em;
    margin-top: 0.8em;
}

        /* poki-content-2 section  */

.poki-content-2{
    height: 1010px;
    background-color: #fff;
    margin-top: 45px;
}